# This is an example .env file. Copy this to .env and fill in your values.

DATABASE_URL=YOUR_DATABASE_URL_HERE
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE